<mat-toolbar>
  <span>
    <a routerLink="/" class="brand-logo"><img src="assets/img/schoolit-logo.svg" alt="" width="130"></a>
  </span>

</mat-toolbar>
<div class="some-padding bc-c sf login">
  <div class="form-container center">
    <div class="form">
      <h3>Añadir Diario</h3>
  
    <div class="form-body">
      <input [(ngModel)]="titulo"  type="text"   placeholder="Titulo"     name="titulo" />
      <mat-form-field>
          <mat-select placeholder="Grado" [formControl]="gradoControl" required>
            <mat-option>--</mat-option>
            <mat-option *ngFor="let grado of DataGrado" [value]="grado">
              {{grado.Nombre}}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="gradoControl.hasError('required')">Please choose an grade</mat-error>
          <mat-hint>{{gradoControl.value?.descripcion}}</mat-hint>
        </mat-form-field>

        <mat-form-field>
          <mat-select placeholder="Maestro" [formControl]="maestroControl" required>
            <mat-option>--</mat-option>
            <mat-option *ngFor="let maestro of DataMaestro" [value]="maestro">
              {{maestro.Nombre}}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="gradoControl.hasError('required')">Please choose an grade</mat-error>
          <mat-hint>{{maestroControl.value?.Nombre}}</mat-hint>
        </mat-form-field>

        <mat-form-field>
        <mat-select placeholder="Materia" [formControl]="materiaControl" required>
          <mat-option>--</mat-option>
          <mat-option *ngFor="let materia of DataMateria" [value]="materia">
            {{materia.Nombre}}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="materiaControl.hasError('required')">Please choose an grade</mat-error>
        <mat-hint>{{materiaControl.value?.Nombre}}</mat-hint>
      </mat-form-field>

      <mat-form-field>
          <mat-select placeholder="seccion" [formControl]="seccionControl" required>
            <mat-option>--</mat-option>
            <mat-option *ngFor="let seccion of DataSeccion" [value]="seccion">
              {{seccion.Nombre}}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="seccionControl.hasError('required')">Please choose an grade</mat-error>
          <mat-hint>{{seccionControl.value?.Nombre}}</mat-hint>
        </mat-form-field>

        <mat-form-field>
          <mat-select placeholder="sede" [formControl]="sedeControl" required>
            <mat-option>--</mat-option>
            <mat-option *ngFor="let sede of DataSede" [value]="sede">
              {{sede.Nombre}}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="sedeControl.hasError('required')">Please choose an grade</mat-error>
          <mat-hint>{{sedeControl.value?.Nombre}}</mat-hint>
        </mat-form-field>
      
        <input [(ngModel)]="contenido"  type="text" placeholder="Contenido"  name="contenido"/>
        <a (click)="createDiario()" class="real-button effect">Crear Diario</a>
    </div>
  </div>
</div>
</div> 