.img-profile{
  img{
    border-radius: 50%;
    height: 60px;
    width: 60px;
    background-size: cover;
    object-fit: cover;
    margin-right: 1em;
  }
  h4, p{
    margin-right: 1em;
    text-transform: capitalize;
  }
}
.user-s{
  .img-profile{
    display: flex !important;
    flex-direction: row !important;
    justify-content: space-between;
    align-items: center;
  }
}
.options{
  p{
    display: inline-block !important;
    &:first-child{
      margin-right: 0.9em;
    }
  }
}
mat-card{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1em 0;
  justify-items: center;
}

.app-toolbar {
  position: sticky;
  position: -webkit-sticky; /* For macOS/iOS Safari */
  top: 0; /* Sets the sticky toolbar to be on top */
  z-index: 1000; /* Ensure that your app's content doesn't overlap the toolbar */
  max-width: 70vw;
}