<mat-toolbar>
  <span><a routerLink="/" class="brand-logo"><img src="assets/img/schoolit-logo.svg" alt="" width="130"></a>
</span>
</mat-toolbar>
<div class="some-padding bc-c sf login">
<div class="form-container center">
  <div class="form">
    <h3>Añadir Colegio</h3>

  <div class="form-body">
    <input [(ngModel)]="Nombre"             type="text"   placeholder="Nombre"                name="nombre"  />
    <input [(ngModel)]="Nombre_comercial"   type="text"   placeholder="Nombre"                name="nombre"  />
    <input [(ngModel)]="Municipio"          type="text"   placeholder="Municipio"             name="municipio"/>
    <input [(ngModel)]="Departamento"       type="text"   placeholder="Departamento"          name="departamento" />
    <input [(ngModel)]="Zona"               type="text"   placeholder="Zona"                  name="zona"/>
    <input [(ngModel)]="Direccion_central"  type="text"   placeholder="Direccion Central"     name="Direccion_central" />
    <input [(ngModel)]="Horario_central"    type="text"   placeholder="Horario Central"       name="Horario_central" />
    <input [(ngModel)]="Telefono"           type="number" placeholder="Telefono"              name="telefono"/>
    <input [(ngModel)]="Mision"             type="text"   placeholder="Mision"                name="Mision"/>
    <input [(ngModel)]="Vision"             type="text"   placeholder="Vision"                name="Vision"/>
    <input [(ngModel)]="Web"                type="text"   placeholder="Web"                   name="Web"/>
    <input [(ngModel)]="Correo"             type="Correo" placeholder="colegio@email.com"     name="Correo"/>
    <input [(ngModel)]="Url_foto"           type="text"   placeholder="foto"                  name="foto"/>
  
    <section class="Colegio-section">
        <mat-checkbox
            class="example-margin"
            [(ngModel)]="Status">
            Status
        </mat-checkbox>
      </section>

    <a (click)="createColegio()" class="real-button effect">Crear Colegio</a>
  </div>
</div>
</div>
</div>