<div class="form">
    <div class="form-header">
        <h4>Ingresa un nuevo grado:</h4>
    </div>
    <div class="form-body">
        <input [(ngModel)]="des" type="text" placeholder="Descripcion">
        <input [(ngModel)]="edmx" type="text" placeholder="Edad Maxima">
        <input [(ngModel)]="edmi" type="text" placeholder="Edad Minima">
        <input [(ngModel)]="nombre" type="text" placeholder="Nombre">
        <input [(ngModel)]="req" type="text" placeholder="Requisitos">
        <a (click)="createGrado()" class="real-button ripple effect">Crear</a>
    </div>
</div>