<mat-toolbar>
  <span>{{ title }}</span>
  <div class="actions">
      <!--<input class="search-pipe" type="text" placeholder="Buscar" *ngIf="show == true" [(ngModel)]="query">
      <i class="fas fa-search effect" (click)="searchT()"></i>-->
      <i class="fas fa-plus effect" (click)="openDialogTarea()"></i>
  </div>
</mat-toolbar>

<mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title> </mat-card-title>
      <mat-card-subtitle></mat-card-subtitle>
    </mat-card-header>
    <!--<img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">-->
    <mat-card-content>
      <p></p>
      <p></p>
      <p></p>
      <p></p>
      <p></p>
      <p></p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>Ok</button>
      <button mat-button>Update</button>
    </mat-card-actions>
  </mat-card>