<mat-toolbar>
    <span>Colegios</span>
    <div class="actions">
        <input class="search-pipe" type="text" placeholder="Buscar" *ngIf="show == true" [(ngModel)]="query">
        <i class="fas fa-search" (click)="searchT()"></i>
    </div>
</mat-toolbar>
<div class="some-padding">
    <div class="colegio" *ngIf="colegio">
        <ng-container *ngFor="let s of colegio | search: query">
            <mat-card> 
                {{ s.Nombre_comercial || s.nombre_comercial }}
                <div class="options">
                    
                    <button (click)="Solicitud(s)" mat-button>Solicitar</button>
                </div>
            </mat-card>
        </ng-container>
    </div>
</div>