<mat-toolbar>
    <span>{{ title }}</span>
    <div class="actions">
        <input class="search-pipe" type="text" placeholder="Buscar" *ngIf="show == true" [(ngModel)]="query">
        <i class="fas fa-search effect" (click)="searchT()"></i>
    </div>
</mat-toolbar>
<div class="solicitudes some-padding" *ngIf="solicitud">
  <div *ngFor="let ty of solicitud | search: query">
    <mat-card  *ngIf="ty.Estado != 'aceptado'"  >
        <div class="user-s" *ngIf="ty.Estado != 'aceptado'">
            <div class="img-profile">
                <img src="{{ty.Url_foto || 'assets/img/School_defult.jpg'}}" alt="" width="30">
                <h4>{{ty.Nombre_usuario}} </h4>
                <p><small>{{ty.Tipo_usuario}}</small></p>
            </div>
        </div>

        <div class="options" *ngIf="ty.Estado != 'aceptado'">
            <a (click)="assign(ty)">Aceptar </a>
            <a (click)="delete(ty.id_user)"> Eliminar</a>
        </div>
    </mat-card>
    </div>
</div>
