<!--
<mat-toolbar>My App</mat-toolbar>
<button mat-button>sdfjaslfasld</button>
-->
<ng-container *ngIf="router.url == '/login'">
    <router-outlet></router-outlet>
</ng-container>
<ng-container *ngIf="router.url != '/login'">
    <mat-sidenav-container class="sidenav-container-c">
            <mat-sidenav opened mode="side" *ngIf="router.url != '/instituciones'">
                <app-menu>
                </app-menu>
            </mat-sidenav>
            <mat-sidenav opened mode="side" position="end" *ngIf="router.url != '/instituciones'">
                <app-end-component class="app-end"></app-end-component>
            </mat-sidenav>
            <div [ngClass]="{'main-content': router.url != '/login'}">
                <router-outlet></router-outlet>
            </div>
    </mat-sidenav-container>
</ng-container>