<mat-toolbar>
    <span>{{ title }}</span>
    <div class="actions">
        <input class="search-pipe effect" type="text" placeholder="Buscar" *ngIf="show == true" [(ngModel)]="query">
        <i class="fas fa-search effect" (click)="searchT()"></i>
    </div>
</mat-toolbar>
<div class="alumnos-container" *ngIf="alumnos">
    <ng-container *ngFor="let p of alumnos | search: query">
        <div class="alumno">
            <div class="alumno-header">
                <img src="{{p.url_foto || 'assets/img/School_defult.jpg'}}" class="round-img" alt="" width="80" height="80">
            </div>
            <div class="alumno-body">
                <a routerLink="/alumnos/profile/{{p.id_t}}/{{p.id_user}}" class="atag">{{ p.nombre }} {{ p.apellido }}</a>
            </div>
        </div>
    </ng-container>
</div>