<mat-toolbar class="app-toolbar">
  <span>{{title}}</span>
  <div class="actions">
      <input class="search-pipe" type="text" placeholder="Buscar" *ngIf="show == true" [(ngModel)]="query">
      <i class="fas fa-search effect" (click)="searchT()"></i>
      <i class="fas fa-plus effect" (click)="openDialog()"></i>
  </div>
</mat-toolbar>
<div class="app-toolbar some-padding" *ngIf="secciones">
    <mat-card *ngFor="let ty of secciones | search: query">
        <div class="user-s" *ngIf="ty.Status === 1">
            <div class="img-profile">
                <h4>{{ty.Nombre}} </h4>
            </div>
        </div>
        <div class="options" *ngIf="ty.Status === 1">
            <a (click)="off(ty)">Deshabilitar</a>
        </div>
    </mat-card>
</div>
