<mat-toolbar class="app-toolbar">
  <span>{{title}}</span>
  <div class="actions">
      <input class="search-pipe" type="text" placeholder="Buscar" *ngIf="show == true" [(ngModel)]="query">
      <i class="fas fa-search effect" (click)="searchT()"></i>
      <i class="fas fa-plus effect" (click)="openDialog()"></i>
  </div>
</mat-toolbar>
<div class="app-toolbar">
        <div class="mas">
            <ng-container *ngIf="secciones">
                <ng-container *ngFor="let c of secciones">
                    <mat-card class="card">
                            <mat-card-content (click)="information(c);">
                                <mat-card-title> {{c.Nombre}}</mat-card-title>
                                <mat-card-subtitle> {{c.Descripcion}} </mat-card-subtitle>
                            </mat-card-content>
                    </mat-card>
                </ng-container>
            </ng-container>
            <ng-container *ngIf="secciones === undefined || !secciones.length">
                    <div class="inicio-container">
                    No hay secciones creadas
                </div>
            </ng-container>
        </div>
</div>