.mat-card {
    transition: box-shadow 280ms cubic-bezier(.4,0,.2,1);
    display: block;
    position: relative;
    padding: 16px;
    border-radius: 4px;
    width: 30%;
    height: auto;
    margin: 16px 0 0 10px;
}