<mat-toolbar class="app-toolbar">
    <span>{{ title }}</span>
    <div class="options">
        <i class="fas fa-plus effect" title="Agregar aviso" (click)="openDialog()"></i>
        <i class="fas fa-university effect" title="Agregar colegio" (click)="createSchool()"></i>
    </div>
</mat-toolbar>
<div class="mas">
    <div class="">


        <ng-container *ngIf="colegio">
            <ng-container *ngFor="let c of colegio">
              <div *ngIf="c.Id_representante === user">
                <mat-card class="card" *ngIf="c.Nombre_comercial">
                     <mat-card-content (click)="replaceComercial(c);">
                        <img mat-card-sm-image src="{{(c.Url_foto) ? c.Url_foto : '/assets/img/logo-schoolit.png'}}">
                          <mat-card-title> {{c.Nombre_comercial}}</mat-card-title>
                          <mat-card-subtitle> {{c.Direccion_central}} </mat-card-subtitle>
                     </mat-card-content>
                </mat-card>
</div>

            </ng-container>
        </ng-container>

        <ng-container *ngIf="colegio === undefined || !colegio.length">
             <div class="inicio-container">
                No hay colegios disponibles, <button type="button" (click)="createSchool();">Crea uno ahora</button>
            </div>
        </ng-container>

    </div>
</div>
